.priceCardContainer {
	background-color: #fff;
	padding: 20px;
	color: #FF00A1;
	font-family: 'Pelo700';
	position: fixed;
    left: 0;
    bottom: 0;
    width: calc(100% - 40px);
}

.priceCardPrice {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price {
	opacity: 59%;
	font-family: 'Pelo400';
}

.priceCardOpen {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.priceCardSlotContainer {
	display: flex;
}

.priceCardSlot {
	border: 1px dashed #F138AC;
	width: 57px;
	height: 57px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	line-height: 1em;
	color: #FFB4E3;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-right: 10px;

	&:last-child {
		margin-right: 0;
	}
}

.priceCardAdd {
	background-color: #FED1EC;
	color: #fff;
	border-radius: 5px;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	font-size: 40px;
	margin-left: auto;

	&.priceCardAddSwipe {
		width: auto;
	    justify-content: flex-start;
	    font-size: 20px;
	    align-items: center;
	    padding: 6px 12px;
	    margin-bottom: 20px;
	}
}

.priceCardOpenContainer {
	display: flex;
	flex-direction: column;
	color: #FF4CD3;

	h1 { margin: 0 0 20px 0; font-weight: normal; }
}

@keyframes scoopAnim {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.priceCardImageContainer {
	width: 100%;
	height: 280px;
	background: linear-gradient(#FFF, #FFBEE5);
	border-radius: 9px;
	margin: 20px 0;
	position: relative;

	&:after {
		content: "";
		background: url('./../../assets/plate.png') no-repeat;
		width: 215px;
	    height: 64px;
	    position: absolute;
	    bottom: 0;
	    left: calc(50% - 107px);
	    background-size: contain;
	}

	.priceCardScoopImage {
		width: 90px;
		border-radius: 100%;
		position: absolute;
		bottom: 17px;
		left: calc(50% - 45px);
		z-index: 1;
		animation-name: scoopAnim;
  		animation-duration: 0.6s;
  		animation-timing-function: ease-in;

		&:nth-child(2) {
			left: 59%;
    		bottom: 25px;
		}

		&:nth-child(3) {
			left: 15%;
    		bottom: 25px;
		}

		&:nth-child(4) {
			bottom: 90px;
			left: 22%;
			z-index: 0;
		}

		&:nth-child(5) {
			bottom: 90px;
		    left: 46%;
		    z-index: 0;
		}
	}
}

.priceCardSlotScoop {
	position: absolute;
	display: flex;
}

.priceCardSwipe {
	border-radius: 6px;
    border: 1px solid #EFA2D1;
    padding: 6px;
    display: flex;
    align-items: center;
    font-family: 'Pelo400';
    margin-bottom: 15px;
    position: absolute;
    background: white;
    width: calc(100% - 54px);

    &:nth-child(2) {
		top: 340px;
	}

	&:nth-child(3) {
		top: 429px;
	}

	&:nth-child(4) {
		top: 518px;
	}

	&:nth-child(5) {
		top: 607px;
	}

	&:nth-child(6) {
		top: 696px;
	}

    img {
    	width: 60px;
    	border-radius: 7px;
    }

    span {
    	margin-left: 12px;
    	font-size: 18px;
    	color: #FF4CD3;
    }

    .priceCardClose {
    	margin-left: auto;
	    border: 1px solid #FF4CD3;
	    border-radius: 100%;
	    width: 22px;
	    height: 22px;
	    display: flex;
	    justify-content: center;
	    line-height: 1em;
    }
}

.priceCardSlotSwipe {
	border-radius: 6px;
	border: 1px dashed #F138AC;
	height: 60px;
	padding: 6px 20px;
	margin-bottom: 15px;
	color: #FFB4E3;
	display: flex; 
	align-items: center;
}

.priceCardDrop {
	background-color: #EFEFEF;
	transform: scale(1.2);
	border-style: solid;
}